{% extends 'base.html.twig' %}
{% block title %} Blog {% endblock %}
{% block body %}
<div class="main">
    <div class="container">
        <div class="main-cn bg-white clearfix">

            <!--Breakcrumb-->
            <section class="breakcrumb-sc">
                <ul class="breadcrumb arrow">
                    <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                    <li>Our blog</li>
                </ul>
                <!-- Search Blog -->

                <!-- Search Blog -->
            </section>
            <!--End Breakcrumb-->
            {% for Blog in Blog %}
            <section class="blog-content">
                <div class="row">

                    <!-- Blog Right -->
                    <div class="col-md-9 col-md-push-3 ">
                        <div class="post-cn">
                            <!-- Post Photo -->
                            <div class="post">
                                <div class="post-media">
                                    <div class="image-wrap">
                                        <img src="{{ asset('images/products/'~ Blog.imageName) }}" alt="" height="200" width="200">
                                    </div>
                                </div>
                                <div class="post-text row">
                                    <div class="col-sm-6">

                                        <h2><a href="{{ path('BlogDetail',{'id_Blog':Blog.getIdBlog}) }}">See the Blog Details</a></h2>


                                    </div>
                                    <d iv class="col-sm-12">
                                        {% if is_granted('ROLE_MODERATOR') %}
                                        <div class="form-field">
                                            <a href="{{ path('editBlog',{'id_Blog':Blog.getIdBlog}) }}"> <button class="awe-btn awe-btn-2 arrow-right arrow-white awe-btn-lager float-left">edit</button></a>
                                        </div>

                                            <div class="form-field">
                                                <a href="{{ path('delateBlog',{'id_Blog':Blog.getIdBlog}) }}"> <button class="awe-btn awe-btn-2 arrow-right arrow-white awe-btn-lager float-right">remove</button></a>
                                            </div>

                                        {% endif %}
                                    </div>

                                </div>





                            </div>
                            <!-- End Post Photo -->
                            <!-- Post Gallery -->
                            <!-- End Navpage Post -->

                        </div>

                    </div>
                    <!-- End Blog Right -->

                    <!-- Blog Left -->


            </section>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Main -->

{% endblock %}
